# https://editorconfig.org

root = true

[*]

# Enforce lf line endings
end_of_line = lf

# Enforce newline at end of files
insert_final_newline = true

# Use tabs by default
indent_style = tab

[*.py]

# Python strongly recommends the usage of 4 spaces as indentation
indent_size = 4
indent_style = space

[{*.yml,*.yaml}]

# YAML does not support tabs, and looks weird with 4 spaces
indent_size = 2
indent_style = space
